@model IEnumerable<DAShopTech.Models.Customer>

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="content-wrapper">
    <div class="card">
        <h5 class="card-header">Danh Sách Khách Hàng Đã Mua Hàng</h5>
        <div class="table-responsive text-nowrap">
            <table class="table">
                <thead>
                    <tr>
                        <th>ID Khách Hàng</th>
                        <th>Tên Khách Hàng</th>
                        <th>SĐT</th>
                        <th>Địa chỉ</th> ư
                    </tr>
                </thead>
                <tbody>
                    @foreach (var customer in Model)
                    {
                        <tr>
                            <td>@customer.CustomerId</td>
                            <td>@customer.FullName</td>
                            <td>@customer.Phone</td>
                            <td>@customer.Address</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
