@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<!-- Trang Hiển Thị -->
<div class="content-wrapper">
    <!-- Danh Sách bảngg-->
    <div class="card">
        <h5 class="card-header">Danh Sách Khách Hàng Thân Thiết</h5>
        <div class="table-responsive text-nowrap">
            <table class="table">
                <thead>
                    <tr>
                        <th>Mã Khách Hàng</th>
                        <th>Tên Khách Hàng</th>
                        <th>Số Điện Thoại</th>
                        <th>Loại Khách Hàng</th>
                        <th>Đã Mua</th>
                        <th>Xem KH</th>
                    </tr>
                </thead>
                <tbody class="table-border-bottom-0">
                    <tr>
                        <td>Jerry Milton</td>
                        <td>Jerry Milton</td>
                        <td>Jerry Milton</td>
                        <td>Jerry Milton</td>
                        <td><span class="badge bg-label-warning me-1">Pending</span></td>
                        <td><button type="button" class="btn btn-info">Chi Tiết</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!-- Danh Sách bảngg--> 
    <div class="content-backdrop fade"></div>
</div>
<!-- Trang Hiển Thị -->